:root {
  --colorPrimary: #bf0e09;
  --colorSecondary: #BABF1D;
  --violeta: #404bd9;
  --celeste: #5ac8fa;
  --black: #1c1c1e;
  --gris: #4f4f4f;
  --amarillo: #fcad18;
  --amarillo-hover: #ffb600;
  --zTop: 100;
  --zFront: 50;
  --zBack: -1;
}

html {
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  color: var(--gris);
}
@media (min-width: 992px) {
  body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
}

p {
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

input {
  font-family: inherit;
}

img {
  max-width: 100%;
}

strong {
  color: var(--black);
}

a {
  color: var(--colorPrimary);
}

table {
  width: 100%;
}

input:disabled,
button:disabled,
a:disabled {
  opacity: 0.5;
}

.site-header {
  background-color: var(--colorPrimary, lightseagreen);
  color: white;
  padding: 1rem;
}
@media (min-width: 992px) {
  .site-header {
    padding: 0;
  }
  .site-header .navbar {
    display: block;
  }
}
.site-header__actions {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.site-header__actions .btn {
  display: none;
}
@media (min-width: 992px) {
  .site-header__actions .btn {
    display: inline-block;
  }
}
.site-header__actions a:not(:last-child) {
  margin-right: 20px;
}
.site-header .login-icon {
  margin-right: 0 !important;
}
@media (min-width: 992px) {
  .site-header .login-icon {
    display: none !important;
  }
}
.site-header .shopping-cart, .site-header .login-icon {
  color: inherit;
  font-size: 1.3rem;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
@media (min-width: 992px) {
  .site-header .shopping-cart, .site-header .login-icon {
    font-size: 1.5rem;
  }
}
.site-header .shopping-cart__badge {
  color: #000;
  font-size: 13px;
  top: -10px;
  right: -10px;
  background-color: #f7ff00;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
  overflow: hidden;
  font-weight: bold;
}
.site-header .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.site-header .brand {
  margin-right: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: 800;
}

.site-footer {
  padding: 35px 0;
  background-color: #1c1c1e;
  color: #fff;
}
@media (min-width: 992px) {
  .site-footer__bottom {
    display: flex;
    justify-content: space-between;
  }
}
.site-footer__top {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-footer__top .img-b {
  background-color: #fff;
  padding: 5px;
  border-radius: 4px;
  display: block;
}
.site-footer__nav a {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  display: block;
}
.site-footer__nav a:not(:first-child) {
  margin-top: 25px;
}
@media (min-width: 992px) {
  .site-footer__nav a {
    display: inline-block;
  }
  .site-footer__nav a:not(:first-child) {
    margin-top: 0;
    margin-left: 25px;
  }
}
.site-footer .follow {
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .site-footer .follow {
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
  }
}
.site-footer .follow p {
  color: #828282;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0;
  margin-right: 25px;
}
.site-footer .follow a {
  color: #fff;
}
.site-footer .follow i {
  font-size: 26px;
}
.site-footer .partof p {
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  .site-footer .partof {
    display: flex;
    align-items: center;
  }
  .site-footer .partof p {
    margin-bottom: 0;
    margin-right: 10px;
    font-size: 15px;
  }
}

.navbar__link {
  font-size: 1rem;
  display: inline-block;
  padding: 22px 15px;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  margin-right: -4px;
}
.navbar__link.navbar__link--active, .navbar__link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.navbar__toggler {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
  border-radius: 0;
  background-color: transparent;
  border: none;
  margin-right: 15px;
}
@media (min-width: 992px) {
  .navbar__toggler {
    display: none;
  }
}
.navbar__mobile-header {
  display: none;
}
@media (max-width: 992px) {
  .navbar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--colorPrimary);
    z-index: var(--zTop);
    transform: translateX(-100%);
    transition: ease-in transform 0.2s;
  }
  .navbar.show {
    transform: translateX(0);
  }
  .navbar .navbar__link {
    display: block;
    border-bottom: 1px solid #fff;
    margin: 0 25px;
  }
  .navbar__mobile-close {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 0;
    background-color: transparent;
    border: none;
    margin-left: auto !important;
  }
  .navbar__mobile-header {
    display: flex !important;
    border: none !important;
    padding-bottom: 0;
  }
  .navbar__mobile-header:hover {
    background-color: transparent !important;
  }
  .navbar__mobile-header .fa {
    display: block;
    font-size: 1.5rem;
  }
}

.top-bar {
  color: #fff;
  background-color: #1C1C1E;
  position: relative;
}
.top-bar > .fa-times {
  position: absolute;
  right: 2rem;
  cursor: pointer;
  top: 1.5rem;
}
@media (min-width: 600px) {
  .top-bar > .fa-times {
    right: 3rem;
    top: 1rem;
  }
}
@media (min-width: 992px) {
  .top-bar > .fa-times {
    top: 50%;
    transform: translateY(-50%);
  }
}
.top-bar .container > p {
  font-size: 14px;
}
@media (max-width: 992px) {
  .top-bar .container > p {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 40px;
  }
}
@media (min-width: 992px) {
  .top-bar .container {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
.top-bar__right {
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .top-bar__right {
    position: relative;
    width: 105%;
    left: -2.5%;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--gris);
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}
.top-bar__right p {
  font-weight: bold;
}
.top-bar__right .btn {
  padding: 0.5em 1.5em;
  margin-left: 60px;
  background-color: #f7ff00;
  border-color: #f7ff00;
  color: var(--black);
}
.top-bar__right .btn:hover {
  background-color: #d6dd02;
  border-color: #d6dd02;
  color: var(--black);
}

.btn {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 100px;
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
}
.btn--lg {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 100px;
}
.btn--full {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn--rounded {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 0;
}
.btn--outline {
  background-color: transparent;
}
.btn--outline-white {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.5);
}
.btn--outline-white:hover {
  border-color: #fff;
}
.btn--outline-primary {
  color: var(--colorPrimary);
  border-color: var(--colorPrimary);
}
.btn--outline-primary:hover {
  background-color: var(--colorPrimary);
  color: #fff;
}
.btn--outline-secondary {
  color: var(--colorSecondary);
  border-color: var(--colorSecondary);
}
.btn--outline-secondary:hover {
  background-color: var(--colorSecondary);
  color: #fff;
}
.btn--secondary {
  color: #000;
  border-color: var(--colorSecondary);
  background-color: var(--colorSecondary);
}
.btn--primary {
  color: #fff;
  border-color: var(--colorPrimary);
  background-color: var(--colorPrimary);
}
.btn--white {
  color: var(--colorPrimary);
  border-color: #fff;
  background-color: #fff;
}
.btn--whatsapp {
  background-color: #34C759;
  border-color: #34C759;
  color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 5px 20px;
}
.btn--whatsapp i {
  margin-left: 10px;
  font-size: 1.5rem;
}
@media (max-width: 992px) {
  .btn--whatsapp {
    width: 45px;
    padding: 0;
  }
  .btn--whatsapp span {
    display: none;
  }
  .btn--whatsapp i {
    margin: 0;
  }
}

.fixed-actions {
  left: 0;
  width: 100%;
  position: fixed;
  z-index: var(--zFront);
  position: fixed;
  bottom: 1rem;
}
.fixed-actions .container {
  display: flex;
  align-items: center;
}
.fixed-actions .btn {
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.fixed-actions .btn--info {
  flex-grow: 1;
  margin-right: 15px;
}
@media (min-width: 992px) {
  .fixed-actions .btn--info {
    display: none;
  }
}

.hero-form {
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 0.35rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.18);
}
@media (min-width: 992px) {
  .hero-form {
    margin-top: 0;
  }
}
.hero-form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 18px;
  font-weight: bold;
  color: var(--black);
}
.hero-form__body {
  padding: 25px 20px 35px;
}
.hero-form .material-input {
  margin-bottom: 0.75rem;
}
.hero-form .btn {
  padding: 0.7em 4em;
}

.hero {
  padding: 2rem 0;
  background-size: cover;
}

.card {
  background-color: #fff;
  font-size: 14px;
  border: 1px solid #e0e0e0;
}
.card__title {
  font-size: 18px;
  margin-bottom: 1rem;
  color: var(--colorPrimary);
}
.card p {
  font-size: inherit !important;
  margin-bottom: 0.75rem;
}
.card__body {
  padding: 15px;
}
.card__buttons {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.card__buttons .btn:not(:last-child) {
  margin-right: 15px;
}
.card__img {
  display: block;
}
.card__img img {
  width: 100%;
  display: block;
}
.card--program .card__img {
  position: relative;
}
.card--program .card__img::after {
  content: "";
  background-image: linear-gradient(180deg, rgba(28, 28, 30, 0) 0, #1c1c1e 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card--program .card__img-title {
  z-index: 5;
  width: calc(100% - 30px);
  bottom: 15px;
  left: 15px;
  color: #fff;
  position: absolute;
}
.card__text {
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 500;
}
.card__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: var(--colorPrimary);
  border-bottom: 1px solid var(--colorPrimary);
}
.card--linemap h3 {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 20px;
  font-family: poppins, sans-serif;
}
.card--linemap p {
  line-height: 1.2;
  font-size: 1rem !important;
}
.card--linemap .card__body {
  padding: 20px;
}
@media (max-width: 992px) {
  .card--linemap {
    display: flex;
    flex-direction: column;
  }
  .card--linemap .text {
    order: 2;
    margin-top: 10px;
  }
}
.card--linemap .grid {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .card--linemap .grid {
    margin-bottom: 0;
  }
  .card--linemap .grid:nth-child(even) .text {
    padding-right: 15px;
  }
  .card--linemap .grid:nth-child(odd) .text {
    padding-left: 15px;
  }
}
.card--course-desc iframe {
  width: 100%;
}
.card--course-desc i:not(.fa-shopping-cart) {
  color: #1C1C1E;
  font-size: 24px;
  margin-right: 10px;
}
.card--course-desc .course-icons p {
  display: flex;
  align-items: center;
}
.card--course-desc .price span:first-child {
  font-size: 16px;
  text-decoration: line-through;
}
.card--course-desc .price span:last-child {
  font-size: 23px;
  color: #34C759;
  font-weight: 700;
  margin-left: 10px;
}
.card--course-desc strong {
  color: var(--gris);
}
.card--course-desc .card__body {
  padding: 15px;
}
@media (min-width: 992px) {
  .card--course-desc .card__body {
    padding: 25px;
  }
}
.card--course-desc .card__title {
  font-size: 30px;
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  .card--course-desc .card__title {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
.card--course-desc .card__author {
  font-weight: 500;
  font-size: 18px !important;
  margin-bottom: 15px;
}
.card--course-desc .card__text {
  margin-bottom: 1rem;
  font-size: 1rem !important;
}
.card--course-desc .card__img::after {
  background-image: linear-gradient(rgba(191, 14, 9, 0.4), rgba(191, 14, 9, 0.4));
}
.card--course-desc .card__img-title {
  font-size: 20px;
}
@media (min-width: 1200px) {
  .card--course-desc .card__img-title {
    font-size: 40px;
  }
}

.price span:first-child {
  font-size: 13px;
  text-decoration: line-through;
}
.price span:last-child {
  font-size: 18px;
  color: #34C759;
  font-weight: 700;
  margin-left: 10px;
}

.discount {
  background-color: #FF3B30;
  color: #FFF;
  display: inline-flex;
  font-weight: 600;
  padding: 8px 10px;
  font-size: 14px;
}

.page-section__title {
  font-size: 32px;
  color: var(--sectionColor, var(--colorPrimary));
}
@media (min-width: 992px) {
  .page-section__title {
    font-size: 45px;
  }
}
.page-section__description {
  font-size: 18px;
  font-weight: 500;
}
.page-section__header {
  margin-bottom: 2rem;
}

.subsection {
  margin-bottom: 3rem;
}

.subsection-header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
@media (max-width: 992px) {
  .subsection-header {
    justify-content: space-between;
  }
}
.subsection-header h3 {
  color: #000;
  font-size: 24px;
  margin-right: 18px;
}
@media (max-width: 992) {
  .subsection-header h3 {
    font-size: 30px;
  }
}
@media (max-width: 1200) {
  .subsection-header h3 {
    font-size: 35px;
  }
}
.subsection-header a {
  color: var(--colorPrimary);
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid var(--colorPrimary);
}

.membership {
  color: #fff;
  background-color: var(--colorPrimary);
  padding: 15px;
  margin-bottom: 2rem;
}
.membership img {
  width: 100%;
}
@media (min-width: 992px) {
  .membership {
    display: flex;
  }
  .membership img {
    width: auto;
  }
}
.membership__title {
  font-size: 30px;
  margin-bottom: 30px;
  color: #fff;
}
@media (min-width: 992px) {
  .membership__title {
    font-size: 38px;
  }
}
.membership__block {
  padding: 20px;
  padding-right: 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.membership__foot {
  margin-top: auto;
}
.membership__foot .price {
  margin: 1rem 0;
}
@media (max-width: 992px) {
  .membership__foot .btn {
    text-align: center;
    width: max(150px, 60%);
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .membership__foot {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .membership__foot .price {
    margin: 0 1rem;
  }
}
.membership .price span:last-child {
  color: #fff;
}

.list-membership {
  list-style: none;
}
@media (min-width: 992px) {
  .list-membership {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
.list-membership__item {
  margin-bottom: 20px;
}
.list-membership__item::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f005";
  margin-right: 10px;
  color: #fff;
}

input:focus, textarea:focus, button:focus {
  outline: none;
}

.material-input {
  font-size: 14px;
  position: relative;
}
.material-input input {
  width: 100%;
  border: none;
  border: 1px solid var(--colorSecondary);
  padding: 0.7em 1em;
  font-size: 1em;
  padding-top: 1.5em;
  border-radius: 0.25rem;
}
.material-input--primary input {
  border-color: var(--colorPrimary);
}
.material-input--plomo input {
  border-color: var(--gris);
}
.material-input label {
  font-weight: 500;
  text-align: left;
  pointer-events: none;
  color: #bbb;
  position: absolute;
  top: 50%;
  left: 1em;
  width: 100%;
  transform: translateY(-50%);
  transition-property: font-size, top, left, color;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.material-input input:focus + label,
.material-input input.non-empty + label {
  font-size: 0.7em;
  top: 1.2em;
  left: 1.5em;
  color: var(--colorSecondary);
}
.material-input--primary input:focus + label,
.material-input--primary input.non-empty + label {
  color: var(--colorPrimary);
}
.material-input--plomo input:focus + label,
.material-input--plomo input.non-empty + label {
  color: var(--gris);
}
.material-input input.non-empty:valid + label {
  color: seagreen;
}
.material-input input.non-empty:invalid + label {
  color: red;
}
.material-input input.non-empty:valid {
  border-color: lightgreen;
}
.material-input input.non-empty:invalid {
  border-color: red;
}

.form-control {
  font-size: 16px;
  padding: 0.9em 1em;
  width: 100%;
  border: 1px solid var(--colorSecondary);
  border-radius: 0.25rem;
}
.form-control:focus {
  outline: none;
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: var(--colorPrimary);
  border-color: var(--colorPrimary);
  color: white;
}
select.form-control option {
  background-color: #fff;
  color: var(--gris);
}

.select {
  position: relative;
  margin-bottom: 0.75rem;
}
.select i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  color: #fff;
}
.select--alt .form-control {
  background-color: transparent;
  color: var(--colorSecondary);
  border-color: var(--colorSecondary);
}
.select--alt i {
  color: var(--colorSecondary);
}

.checkbox {
  display: flex;
  align-items: flex-start;
  margin-bottom: 3rem;
}
.checkbox input[type=checkbox] {
  border-radius: 0;
  color: var(--colorPrimary);
}
.checkbox span {
  margin-left: 10px;
  line-height: 1;
  font-size: 13px;
}

.card-icon {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  text-align: center;
  padding: 40px 30px 35px;
  color: var(--colorPrimary);
  min-height: 100%;
  font-weight: 500;
}
.card-icon h3 {
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 25px 0 15px;
}

.breadcrumb {
  margin: 20px 0;
}
.breadcrumb ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.breadcrumb ul li a {
  color: var(--gris);
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  flex: none;
  align-items: center;
}
.breadcrumb ul li:not(:first-child) {
  display: flex;
  align-items: center;
}
.breadcrumb ul li:not(:first-child)::before {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  content: "\f105";
  margin-right: 12px;
  margin-left: 12px;
  font-size: 12px;
}

@media (min-width: 768px) {
  .navbar-tabs {
    display: flex;
  }
}

.navbar-tabs .nav-link {
  text-decoration: none;
  color: #bdbdbd;
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 7px solid transparent;
  padding: 0 20px 15px;
  text-align: center;
  flex-grow: 1;
  transition: color 0.2s;
}
@media (max-width: 768px) {
  .navbar-tabs .nav-link {
    display: block;
    width: 100%;
    padding: 15px;
    border-bottom: 4px solid transparent;
  }
}

.navbar-tabs .nav-link.active {
  border-color: var(--colorPrimary);
  color: var(--gris);
  font-weight: 600;
}

/** tabs **/
.tabs {
  overflow: hidden;
}
.tabs__wrapper {
  padding: 25px;
}
@media (min-width: 992px) {
  .tabs__wrapper {
    padding: 30px;
  }
}
.tabs--forms h3 {
  font-weight: 500;
}
.tabs--forms .tabs {
  border-top: 1px solid #BDBDBD;
}
.tabs--forms .tabs-content > * {
  transition: none;
}
.tabs--forms .navbar-tabs .nav-link {
  flex-grow: initial;
}
.tabs--forms form {
  padding-top: 1rem;
}
.tabs--forms form .material-input {
  margin-bottom: 0.7rem;
}
.tabs--forms form input[type=submit] {
  margin-top: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 200px;
  padding: 10px;
}
.tabs--forms form a {
  text-decoration: none;
  font-weight: 500;
}

.tabs-content {
  background-color: #444;
}

.tabs-content > * {
  height: 30px;
  float: left;
  position: relative;
  transition: left 0.3s;
  left: 0;
}
.tabs-content > *.tab-active {
  height: auto;
}

.tabs h2,
.tabs p {
  margin: 0.5rem 0;
}

.cart-btn {
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--colorPrimary);
  color: #FFF;
  padding: 0.75rem 0.95rem;
  display: inline-flex;
  text-align: center;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
}
.cart-btn--block {
  display: block;
  width: 100%;
  text-align: center;
  flex-grow: 1;
  font-weight: 500;
}
.cart-btn--lg {
  font-weight: 500;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.cart-total {
  line-height: 1.4;
  text-align: right;
}
.cart-total span:first-child {
  margin-right: 20px;
  font-weight: 500;
  font-size: 15px;
}
.cart-total.subtotal span:last-child {
  color: var(--black);
  font-weight: 700;
  font-size: 1rem;
}
.cart-total.per-off span:last-child {
  color: red;
  font-size: 20px;
  font-weight: 700;
}
.cart-total.total span:last-child {
  color: #34c759;
  font-size: 20px;
  font-weight: 700;
}
.cart-nav {
  margin-bottom: 35px;
  display: flex;
  flex-wrap: wrap;
}
.cart-nav a {
  margin-bottom: 15px;
  flex-grow: 1;
  color: var(--black);
  text-decoration: none;
  opacity: 0.2;
}
.cart-nav a.active {
  opacity: 1;
}
.cart-nav a span {
  display: block;
  line-height: 1;
}
.cart-nav a span:first-child {
  font-size: 65px;
  font-weight: 700;
}
.cart-nav a span:nth-child(2) {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.5;
}
.cart-nav a span:last-child {
  font-size: 1rem;
}
.cart-table {
  margin-bottom: 15px;
  border-collapse: collapse;
  background-color: #FFF;
  padding: 0.5rem;
  width: 100%;
  border: 0 none;
}
.cart-table thead th {
  background-color: #f8f9fa;
  text-transform: uppercase;
  color: var(--black);
  padding: 1rem;
}
.cart-table thead th:last-child {
  text-align: right;
}
.cart-table thead th:first-child {
  text-align: left;
}
.cart-table__delete {
  text-align: center;
}
.cart-table__delete i {
  color: #ccc;
}
.cart-table__total {
  text-align: right;
}
.cart-table__total p {
  font-size: 18px;
  color: #34c759;
  font-weight: 700;
}
.cart-table__item {
  text-align: left;
}
.cart-table__item a {
  text-decoration: none;
  display: flex;
  align-items: flex-start;
}
.cart-table__item a img {
  margin-right: 15px;
}
@media (max-width: 567px) {
  .cart-table__item a img {
    display: none;
  }
}
.cart-table__item a p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--gris);
  display: block;
  padding-top: 5px;
  margin-bottom: 5px;
}
.cart-table td {
  border-bottom: 1px solid #dee2e6;
  padding: 1rem;
}
.cart-table--small {
  font-size: 14px;
}
.cart-table--small thead th {
  padding: 10px;
  font-size: 14px;
}
.cart-table--small strong {
  color: var(--gris);
}
.cart-table--small td {
  padding: 10px;
}
.cart-table--small td:last-child {
  text-align: right;
}

.modal {
  overflow-y: auto;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: grid;
  place-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}
.modal--cart .modal-content {
  width: min(900px, 90%) !important;
  max-width: 900px !important;
}
.modal--cart .link {
  background-color: transparent;
  border: 0;
  appearance: none;
  text-align: center;
  width: 100%;
  font-weight: 700;
  color: var(--violeta);
  margin-top: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.modal--cart .link i {
  margin-left: 10px;
}

.modal.show {
  z-index: 1000;
  opacity: 1;
  visibility: visible;
}

.modal.show .modal-content {
  top: 0;
  transform: scale(1);
}

.modal-content {
  transition: all 0.3s;
  transform: scale(0.9);
  top: -3rem;
  width: min(700px, 90%);
  max-width: 700px;
  position: relative;
}
.modal-content .card {
  border-radius: 8px;
}

.modal-content .modal-button-close {
  border: none;
  color: var(--colorPrimary);
  font-size: 2em;
  border-radius: 50%;
  position: absolute;
  top: 0.6rem;
  right: 0.7rem;
  cursor: pointer;
  background-color: transparent;
}

.modal-content .modal-button-close:active {
  transform: scale(0.9);
}

.grid {
  display: flex;
  flex-wrap: wrap;
}
.grid--membership {
  align-items: center;
}
.grid--membership img {
  width: 100%;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 992px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
.l-hero-form {
  background-position: top center;
  position: relative;
  min-height: 80vh;
  padding: 0;
}
@media (min-width: 992px) {
  .l-hero-form {
    padding: 2rem 0;
  }
}
.l-hero-form .img-bg {
  width: 100%;
}
@media (min-width: 992px) {
  .l-hero-form .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: var(--zBack);
    object-fit: cover;
    object-position: top left;
  }
}
.l-hero-form .grid {
  display: flex;
  width: 100%;
}
.l-hero-form .grid .col-md-4 {
  margin-left: auto;
}

@media (max-width: 1200px) {
  .slider-courses {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .l-grid-courses {
    display: flex;
    width: 400%;
  }
  .l-grid-courses > * {
    width: calc(8.3333333333% - 30px);
    scroll-snap-align: start;
  }
  .l-grid-courses > *:not(:last-child) {
    margin-right: 20px;
  }
}
@media (max-width: 992px) {
  .l-grid-courses > * {
    width: calc(12.5% - 70px);
  }
}
@media (max-width: 768px) {
  .l-grid-courses > * {
    width: calc(25% - 70px);
  }
}
@media (min-width: 1200px) {
  .l-grid-courses {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.l-courses-layout {
  margin-bottom: 2rem;
}
@media (min-width: 992px) {
  .l-courses-layout {
    display: grid;
    grid-template-columns: minmax(270px, auto) 1fr;
    gap: 30px;
  }
}
.l-courses-layout__aside {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .l-courses-layout__aside {
    margin-bottom: 0;
  }
}
.l-courses-layout__aside .material-input {
  margin-bottom: 1rem;
}
.l-courses-layout__aside h3 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: #1C1C1E;
  display: block;
  margin-bottom: 0.5rem;
}
.l-courses-layout__aside .checkbox {
  margin-bottom: 0.7rem;
}
.l-courses-layout__aside .checkbox span {
  font-weight: 500;
  color: var(--gris);
  font-size: 14px;
}
.l-courses-layout__main .card {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .l-courses-layout__main {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .l-courses-layout__main .card {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .l-courses-layout__main {
    grid-template-columns: repeat(3, 1fr);
  }
}

.l-grid-page {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .l-grid-page {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .l-grid-page {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .l-page-generic {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .l-page-generic {
    grid-template-columns: 1fr 360px;
  }
}
.l-page-generic .hero-form:not(.shadow) {
  box-shadow: none !important;
}

@media (min-width: 992px) {
  .l-cart-modal__main {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 30px;
  }
}
.l-cart-modal__main > div:first-child {
  max-height: 300px;
  overflow-y: auto;
}
.l-cart-modal__prices p {
  padding: 1rem 0;
  font-size: 1rem !important;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.l-cart-modal__prices p:first-child span:last-child {
  color: var(--black);
  font-weight: 700;
  font-size: 1rem;
}
.l-cart-modal__prices p:last-child span:last-child {
  color: #34c759;
  font-size: 20px;
  font-weight: 700;
}
.l-cart-modal__prices p:not(:last-child) {
  border-bottom: 1px solid #c3cbd6;
}

.cart-item {
  display: flex;
  position: relative;
  border-bottom: 1px solid #c3cbd6;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.cart-item h3 {
  font-weight: normal;
}
.cart-item .price {
  font-size: 16px;
  color: #34c759;
  font-weight: 700;
}
.cart-item__img {
  margin-right: 10px;
}
.cart-item__delete {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 18px;
}

.l-form-modal {
  display: grid;
  column-gap: 20px;
  row-gap: 0px;
  grid-template-columns: 1fr;
}
.l-form-modal__full {
  margin-bottom: 0.5rem;
}
@media (min-width: 992px) {
  .l-form-modal {
    grid-template-columns: repeat(2, 1fr);
  }
  .l-form-modal__full {
    grid-column: 1/3;
  }
}
@media (min-width: 1200px) {
  .l-form-modal {
    grid-template-columns: repeat(3, 1fr);
  }
  .l-form-modal__full {
    grid-column: 1/4;
  }
}

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
@media (min-width: 992px) {
  .container {
    width: 85%;
  }
}

.t-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.fixed-sticky {
  position: sticky;
  top: 1rem;
}

.fw5 {
  font-weight: 500;
}

.fwb {
  font-weight: bold;
}

.tal {
  text-align: left;
}

.shadow {
  box-shadow: 0 0 10px rgba(151, 151, 151, 0.5);
}

.d-none {
  display: none;
}

.for-clients {
  font-weight: 500 !important;
  font-size: 18px;
  font-family: poppins, sans-serif;
  padding: 5px 20px 20px;
}
.for-clients a {
  text-decoration: none;
  border-bottom: 1px solid var(--colorPrimary);
}

.d-iflex {
  display: inline-flex;
}

.termns {
  margin-bottom: 2rem;
}
.termns h2 {
  font-size: 1rem;
}
.termns h2,
.termns p,
.termns ul,
.termns ol {
  margin: 0.5rem 0;
}
.termns ul,
.termns ol {
  padding-left: 2rem;
}
.termns a {
  text-decoration: none;
}

.main {
  padding: 5rem 0;
}

.prices {
  margin-bottom: 20px;
}

.owl-theme {
  position: relative;
}
.owl-theme .owl-nav {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.owl-theme .owl-nav button {
  padding: 0;
  color: rgba(102, 102, 102, 0.5);
  transition: color 0.1s ease-in-out;
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px #979797;
  border-radius: 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 992px) {
  .detail__form {
    margin-right: 70px;
  }
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion header {
  background-color: #fff;
  color: var(--gris);
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  padding: 20px 0;
}
@media (min-wudth: 992px) {
  .accordion header {
    padding: 20px 15px;
  }
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion header:after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 14px;
  color: var(--gris);
  float: right;
  margin-left: 5px;
  transition: transform 0.2s;
}

.accordion header.active:after {
  transform: rotate(-180deg);
}

.accordion header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(189, 189, 189);
}
.accordion header h3 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
  padding-right: 20px;
  line-height: 1.3;
}
.accordion header strong {
  color: var(--colorPrimary);
  font-weight: 600;
  margin-right: 5px;
}

.course-desc h4 {
  font-weight: 600;
  font-size: 1rem;
  color: var(--colorPrimary);
  margin: 25px 0 10px;
}
.course-desc p {
  margin-bottom: 10px;
}
.course-desc ul {
  list-style: none;
  padding: 0;
  line-height: 1.4;
}
.course-desc ul li::before {
  content: "- ";
}
.course-desc ul li:not(:first-child) {
  margin-top: 2px;
}
.course-desc__foot {
  padding: 30px 0 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
}
.course-desc__foot p {
  width: 50%;
}
@media (min-width: 768px) {
  .course-desc__foot p {
    width: auto;
    flex: 1;
  }
}

.docente__header {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.docente__header img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}
.docente__header h2 {
  color: var(--gris);
  font-size: 1rem;
  margin-bottom: 0;
}
.docente p {
  font-size: 1rem !important;
  line-height: 1.4;
}

.course-faq {
  padding: 30px 0;
  border-bottom: 1px solid #bdbdbd;
}
.course-faq h4 {
  font-size: 1rem;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  color: var(--black);
  margin-bottom: 1rem;
}

.list {
  padding-left: 1.2rem;
  color: var(--gris);
}
.list li {
  margin-bottom: 0.5rem;
}
.list strong {
  color: var(--black);
}

.p,
.ul {
  margin: 1.5rem 0;
}

@media (min-width: 768px) {
  .links-password {
    display: flex;
  }
}
.links-password__link {
  margin-bottom: 0.5rem;
  background-color: #CCC;
  padding: 12px 15px;
  margin-right: 0.2rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #343434;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .links-password__link {
    margin-bottom: 0;
  }
}
.links-password__link.active {
  background-color: #333;
  color: #FFF;
}

/*# sourceMappingURL=app.css.map */
