<!DOCTYPE html>

<html>
    <head>
        <title>Editar Usuario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    </head>
    <body>
        <div class="shadow p-3 mb-5 bg-body rounded">
            <div class="position-absolute top-50 start-50 translate-middle">
                <form action="actualizar" method="POST" th:object="${usuariodato}" >

                    <div class="container-sm">
                        <div class="text-center"><img src="./editar.png" class="rounded-4"><br>
                            <h2 >EDITAR  USUARIO</h2></div><BR>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">ID</span>
                            <input class="form-control" th:field="*{id_usuario}" type="text" name="id_usuario" required="required" readonly="readonly">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Nombre</span>
                            <input class="form-control" th:field="*{nombre_usuario}" type="text" name="nombre" required="required" >
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Direccion</span>
                            <input class="form-control" th:field="*{direccion_usuario}" type="text" name="direccion" required="required" >
                        </div>
                        <div class="input-group mb-3">
                            <input  class="form-control" th:field="*{correo_usuario}" type="text" name="correo" placeholder="Ingrese su Correo" >
                            <span class="input-group-text" id="basic-addon2">@example.com</span>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Telefono</span>
                            <input th:field="*{telefono_usuario}" type="text" name="telefono" class="form-control" placeholder="Ingrese su Nombre" >
                            <span class="input-group-text">Contraseña</span>
                            <input th:field="*{contrasena_usuario}" type="text" name="contrasena" required="required" class="form-control" placeholder="Ingrese su Contraseña" >
                        </div>

                        <tr>
                            <td colspan="2"><input type="submit" value="Actualizar"></td>
                        </tr>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
