<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Web</title>
  <!-- Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
  <!-- Slider -->
  <link rel="stylesheet" href="./assets/css/owl.carousel.min.css">
  <!-- Theme Slider -->
  <link rel="stylesheet" href="./assets/css/owl.theme.default.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="./assets/css/app.css">
</head>
<body>
  <!-- Modal Inicio sesion Registro-->
  <div th:replace="menu::#modal-login"></div>
  <!-- End Modal Inicio sesion Registro-->
  <div class="fixed-actions">
    <div class="container">
      <a href="#" class="btn btn--primary btn--info">
        Informes
      </a>
      <a href="#" class="btn btn--whatsapp">
        <span>Contáctanos</span>
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
  </div>
  
  <!-- Header -->
  <div th:replace="menu :: #headerInicio"></div>
  <!-- End Header -->

  <main>
    <div class="container">
      <nav class="breadcrumb">
        <ul>
          <li>
            <a th:href="@{/}">
              <i class="fa fa-home"></i>
            </a>
          </li>
          <li>
            <a href="carrito.html">
              Cesta de la compra
            </a>
          </li>
        </ul>
      </nav>
      
      <!-- header cart -->
      <nav class="cart-nav">
        <a class="active">
          <span>01</span>
          <span>Carrito de compra</span>
          <span>Revisa los cursos que has agregado</span>
        </a>
        <a th:href="@{/detalle-pago}">
          <span>02</span>
          <span>Detalles de pago</span>
          <span>Llena tus datos y elige cómo pagar</span>
        </a>
        <a th:href="@{/finish-shop}">
          <span>03</span>
          <span>Compra realizada</span>
          <span>Pago aceptado, transacción exitos</span>
        </a>
      </nav>
      <!-- end header cart -->


      <table class="cart-table">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Eliminar</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr th:if="${carrito.cant_servicios_carrito == 0}">
            <td class="cart-table__item" colspan="3" style="text-align:center;">
              <span>No hay productos en el carrito</span>
            </td>
          </tr>
          <tr th:each="servicio:${carrito.servicios}">
            <td class="cart-table__item">
              <a href="course.html">
                <img style="width:92px;height:66px;" th:src="${servicio.fotoServicio}" alt="">
                <p th:text="${servicio.nombreServicio}">Excel Intermedio</p>
              </a>
            </td>
            <td class="cart-table__delete">
              <a th:href="@{/eliminarItemCarrito(idproducto=${servicio.id_servicio})}">
                <i class="fa fa-trash-alt"></i>
              </a>
            </td>
            <td class="cart-table__total">
              <p th:text="'S/ '+${#numbers.formatDecimal(servicio.precioFinalServicio, 0,0)} + '.00'">S/. 279.00</p>
            </td>
          </tr>
        </tbody>
      </table>

      <p class="cart-total subtotal">
        <span>Subtotal</span>
        <span th:text="'S/ '+${#numbers.formatDecimal(carrito.monto_total_carrito, 0,0)} + '.00'">S/. 279.00</span>
      </p>
      <p class="cart-total per-off">
        <span>15% OFF</span>
        <span th:text="'S/ '+${#numbers.formatDecimal(carrito.dsco_carrito, 0,0)} + '.00'">-S/. 42.00</span>
      </p>
      <p class="cart-total total">
        <span>Total</span>
        <span th:text="'S/ '+${#numbers.formatDecimal(carrito.monto_total_carrito, 0,0)} + '.00'">S/. 237.00</span>
      </p>

      <div style="text-align: right; margin-top: 15px; margin-bottom: 40px;">
        <a href="detalle-pago.html" class="cart-btn">Finalizar compra</a>
      </div>
    </div><!-- .container -->
  </main>

  <div th:replace="menu :: #footer_inicio"></div>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <!-- OWL Slider -->
  <script src="./assets/js/owl.carousel.min.js"></script>
  <!-- Scripts -->
  <script src="./assets/js/app.js"></script>
</body>
</html>