<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página Web</title>
        <!-- Icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
        <!-- Slider -->
        <link rel="stylesheet" href="./assets/css/owl.carousel.min.css">
        <!-- Theme Slider -->
        <link rel="stylesheet" href="./assets/css/owl.theme.default.min.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="./assets/css/app.css">
    </head>
    <body>
        <!-- Modal Inicio sesion Registro-->
        <div th:replace="menu::#modal-login"></div>
        <!-- End Modal Inicio sesion Registro-->
        <div class="fixed-actions">
            <div class="container">
                <a href="#" class="btn btn--primary btn--info">
                    Informes
                </a>
                <a href="#" class="btn btn--whatsapp">
                    <span>Contáctanos</span>
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>

        <!-- Modal Cart-->
        <div th:replace="menu::#modal-cart"></div>
        <!-- End Modal Cart-->

        <!-- Header -->
        <div th:replace="menu :: #headerInicio"></div>
        <!-- End Header -->

        <main>
            <div class="container">
                <nav class="breadcrumb">
                    <ul>
                        <li>
                            <a href="index.html">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li>
                            <a href="cursos.html">
                                Cursos Virtuales
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="l-courses-layout">
                    <aside class="l-courses-layout__aside">
                        <form action="cursos" method="POST" class="fixed-sticky">
                            <div class="material-input material-input--plomo">
                                <input type="search" name="nombrecurso" id="search">
                                <label for="search">Buscar</label>
                            </div>
                            <h3>Categorías</h3>
                            <label class="checkbox" th:each="categoria,status: ${categorias}">
                                <input type="checkbox" th:value="${categoria.id_categoria}" name="categorias[]">
                                <span th:text="${categoria.nom_categoria}">Administración</span>
                            </label>

                            <!--<label class="checkbox">
                                <input type="checkbox">
                                <span>Excel</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span>Finanzas</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span>Habilidades Blandas</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span>Innovación y Emprendimiento</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span>Logística</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span>Marketing</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span>Marketing Digital</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span>Recursos Humanos</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span>Tecnología</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span>Ventas</span>
                            </label>-->
                        </form>
                    </aside>

                    <div class="l-courses-layout__main" ><!--th:each="curs,status: ${cursos}"-->
                        <!-- Course -->
                        
                             <article class="card" th:each="curs,status: ${cursos}" th:with="descuento=${#numbers.formatDecimal(curs.prec_curso, 1, 'COMMA', 1, 'POINT')} * (${#numbers.formatDecimal(curs.descto_curso, 1, 'COMMA', 1, 'POINT')} * 0.01)">
                                <a class="card__img" th:href="@{/curso(id=${curs.id_curso})}"><!--th:href="@{/course(id=${curs.id_curso})}"-->
                                    <img th:src="${curs.foto_curso}" alt="Imágen">
                                </a><!-- .card__img -->
                                <div class="card__body">
                                    <a th:href="@{/curso(id=${curs.id_curso})}" style="text-decoration: none;">
                                        <h4 class="card__title" th:text="${curs.nom_curso}">Excel Básico</h4>
                                    </a>
                                    <p>Por <strong>Jose Carlos Rivas</strong></p>

                                    <div class="d-flex justify-content-between prices">
                                        <p>
                                            <i class="far fa-clock"></i>
                                            <span th:text="${#numbers.formatDecimal(curs.dur_curso, 0,0)} +' horas'">22 horas</span>
                                        </p>
                                        
                                        <p class="price">
                                            <span th:text="${'S/ ' + #numbers.formatDecimal(curs.prec_curso , 1, 'COMMA', 1, 'POINT')}">S/ 279</span>
                                            <span th:text="${'S/ ' + #numbers.formatDecimal(curs.prec_curso - descuento, 1, 'COMMA', 1, 'POINT')}">S/ 237</span>
                                        </p>
                                    </div>

                                    <div class="card__buttons">
                                        <a class="btn btn--outline btn--outline-primary btn--rounded" th:data-idproducto="${curs.id_curso}" th:data-tiposervicio="${1}" th:href="@{/agregarItemCarrito(idProducto=${curs.id_curso},tipoServicio=1)}" data-modal="#modal-cart">
                                            <i class="fa fa-shopping-cart"></i>
                                        </a>
                                        <a class="btn btn--outline btn--outline-primary btn--full" th:href="@{/carrito(idProducto=${curs.id_curso},tipoServicio=${1})}">
                                            Comprar ahora
                                        </a>
                                    </div>
                                </div><!-- .card__body -->
                            </article><!-- .card -->
                            <!-- End Course -->
                        

                    </div>
                </div>
            </div><!-- .container -->
        </main>

        <div th:replace="menu :: #footer_inicio"></div>

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <!-- OWL Slider -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <!-- Scripts -->
        <script src="./assets/js/app.js"></script>
    </body>
</html>