<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Web</title>
  <!-- Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
  <!-- Slider -->
  <link rel="stylesheet" href="./assets/css/owl.carousel.min.css">
  <!-- Theme Slider -->
  <link rel="stylesheet" href="./assets/css/owl.theme.default.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="./assets/css/app.css">
</head>
<body>
  <!-- Modal Inicio sesion Registro-->
  <div th:replace="menu::#modal-login"></div>
  <!-- End Modal Inicio sesion Registro-->

  <div class="fixed-actions">
    <div class="container">
      <a href="#" class="btn btn--primary btn--info">
        Informes
      </a>
      <a href="#" class="btn btn--whatsapp">
        <span>Contáctanos</span>
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
  </div>

  <!-- Modal Cart-->
  <div th:replace="menu::#modal-cart"></div>
  <!-- End Modal Cart-->

  <!-- Contador regresivo -->
  <section th:if="${cuponPromo != null}" class="top-bar">
    <div class="container">
      <p th:if="${cuponPromo.tipoDescuento_cupondescuento == 1}" th:text="'Obten un descuento del '+${#numbers.formatDecimal(cuponPromo.valorDescuento_cupondescuento, 0,0)}+ '% usando el codigo: ' + ${cuponPromo.codigo_cupondescuento.toUpperCase()} " style="font-weight: lighter;">
        ¡Últimos días! Cursos a S/99 usando el código: CURSO99
      
      </p>
      <p th:if="${cuponPromo.tipoDescuento_cupondescuento == 2}" th:text="'Obten un descuento de S/.'+${#numbers.formatDecimal(cuponPromo.valorDescuento_cupondescuento, 0,0)}+ ' usando el codigo: ' + ${cuponPromo.codigo_cupondescuento.toUpperCase()} " style="font-weight: lighter;">
        ¡Últimos días! Cursos a S/99 usando el código: CURSO99
      </p>
      <div class="top-bar__right">
        <p>
          <span id="days"></span>d : <span id="hours"></span>h : <span id="minutes"></span>m : <span id="seconds"></span>s
        </p>
        <a href="#" class="btn btn--outline btn--outline-secondary">
          Ver ofertas
        </a>
      </div>
    </div>

    <i class="fa fa-times close" onclick="$(this.parentElement).fadeOut()"></i>
  </section> 
  <!-- Fin contador regresivo -->
  
  <!-- Header -->
  <div th:replace="menu :: #headerInicio"></div>
  <!-- End Header -->
  <main>

    <div class="hero l-hero-form">
      <img src="https://www.zegelvirtual.com/sites/default/files/styles/imagemagick/public/hero-banner/B-DESK.png.webp?itok=LODH-byY" class="img-bg">
      <div class="container">
        <div class="grid">
          <div class="col-12 col-md-4">
            <div class="hero-form" id="hero-formulario">
              <div class="hero-form__body">
                <h2>Inscríbete aquí</h2>
                <form action="guardarIns" method="post">
                  <div class="select">
                    <select id="course" class="form-control" name="curso" >
                      <option selected disabled>¿Qué quieres estudiar?</option>
                      <div th:each="curs: ${cursos}">
                        <option th:text="${curs.nom_curso}">Curso 1</option>
                      </div>
                    </select>
                    <i class="fa fa-angle-down"></i>
                  </div>

                  <div class="material-input material-input--plomo">
                    <input type="text" id="names" autocomplete="off" name="nombres" required="required">
                    <label for="names">Nombres</label>
                  </div>

                  <div class="material-input material-input--plomo">
                    <input type="text" id="lastname" autocomplete="off" name="apellidos" required="required">
                    <label for="lastname">Apellidos</label>
                  </div>

                  <div class="material-input material-input--plomo">
                    <input type="tel" id="phone" autocomplete="off" name="celular" required="required">
                    <label for="phone">Celular</label>
                  </div>

                  <div class="material-input material-input--plomo">
                    <input type="email" id="email" autocomplete="off" name="email" required="required">
                    <label for="email">Email</label>
                  </div>

                  <label class="checkbox">
                    <input type="checkbox" required="required">
                    <span>
                      Acepto haber leído las <a href="#">políticas de privacidad</a> y los <a >términos y condiciones</a><!--th:href="@{/termns}"-->
                    </span>.
                  </label>

                  <div class="t-center">
                    <input class="btn btn--primary" type="submit" value="Enviar">
                  </div>
                </form>
              </div>
            </div><!-- .card -->
          </div><!-- .col-12 -->
        </div><!-- .grid -->
      </div><!-- .cotainer -->
    </div><!-- .hero -->

    <div class="main">
      <div class="container">
        <section class="page-section">
          <div class="page-section__header">
            <h2 class="page-section__title">Cursos</h2>
            <p class="page-section__description">Cursos 100% virtuales diseñados por verdaderos especialistas en su rubro. ¡Cómpralos HOY!</p>
          </div>

          <section class="subsection" th:each="categoria,status: ${categoriasCursos}">
            <header class="subsection-header">
              <h3 th:text="${categoria.nom_categoria}">Excel</h3>
              <a href="cursos.html">Ver Todos</a>
            </header>
            
            <div class="slider-courses">
              <div class="l-grid-courses" >
                <article class="card" th:each="curso: ${categoria.cursos}" th:with="descuento=${#numbers.formatDecimal(curso.prec_curso, 1, 'COMMA', 1, 'POINT')} * (${#numbers.formatDecimal(curso.descto_curso, 1, 'COMMA', 1, 'POINT')} * 0.01)">
                  <a class="card__img" th:href="@{/curso(id=${curso.id_curso})}"><!--(id=${curso.id})-->
                    <img th:src="${curso.foto_curso}" alt="Imágen">
                  </a><!-- .card__img -->
                  <div class="card__body">
                    <a th:href="@{/curso(id=${curso.id_curso})}" style="text-decoration: none;">
                      <h4 class="card__title" th:text="${curso.nom_curso}">Excel Básico</h4>
                    </a>
                    <p>Por <strong>Jose Carlos Rivas</strong></p>
                    
                    <div class="d-flex justify-content-between prices">
                      <p>
                        <i class="far fa-clock"></i>
                        <span th:text="${#numbers.formatDecimal(curso.dur_curso, 0,0)} +' horas'">22 horas</span>
                      </p>
  
                      <p class="price">
                        <span th:text="${'S/ ' + #numbers.formatDecimal(curso.prec_curso , 1, 'COMMA', 1, 'POINT')}">S/ 279</span>
                        <span th:text="${'S/ ' + #numbers.formatDecimal(curso.prec_curso - descuento, 1, 'COMMA', 1, 'POINT')}">S/ 237</span>
                      </p>
                    </div>
  
                    <div class="card__buttons">
                      <a class="btn btn--outline btn--outline-primary btn--rounded" th:data-idproducto="${curso.id_curso}" th:data-tiposervicio="${1}" data-modal="#modal-cart">
                        <i class="fa fa-shopping-cart"></i>
                      </a>
                      <a class="btn btn--outline btn--outline-primary btn--full" th:href="@{/carrito(idProducto=${curso.id_curso},tipoServicio=${1})}">
                        Comprar ahora
                      </a>
                    </div>
                  </div><!-- .card__body -->
                </article><!-- .card -->
  
                
              </div><!-- .l-grid-courses -->
            </div>
          </section>

          
        </section><!-- .page-section -->

        <section class="page-section">
          <div class="page-section__header">
            <h2 class="page-section__title">Programas</h2>
            <p class="page-section__description">Programas virtuales diseñados por verdaderos especialistas. Duración: 3 a 5 meses.</p>
          </div>

          <section class="subsection">
            <div class="slider-courses">
              <div class="l-grid-courses">
                <article th:each="program,status: ${programas}" th:with="descuento=${#numbers.formatDecimal(program.prec_programa, 1, 'COMMA', 1, 'POINT')} * (${#numbers.formatDecimal(program.descu_programa, 1, 'COMMA', 1, 'POINT')} * 0.01)" class="card card--program">
                  <a class="card__img" th:href="@{/programa}">
                    <img th:src="${program.foto_programa}" alt="Imágen">
                    <h3 class="card__img-title" th:text="${program.nom_programa}">Programa de especialista en Excel</h3>
                  </a><!-- .card__img -->
                  <div class="card__body">
                    
                    <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 15px">
                      <span>
                        <i class="far fa-calendar"></i>
                        <span th:text="${#numbers.formatDecimal(program.vigencia_programa,0,0) + ' meses'}">3 meses</span>
                      </span>
                      <span th:text="${program.cantCurso_programa + ' cursos'}">3 cursos</span>
                    </div>
      
                    <p class="card__text" th:text="${program.desc_programa}">Maneja datos y realiza gráficas, genera tablas dinámicas y ejecuta funciones que te permitan analizar datos...</p>
                    
                    <div class="d-flex justify-content-between prices">
                      <p>
                        <a href="" class="card__link">ver más</a>
                      </p>
      
                      <p class="price">
                        <span th:text="${'S/ ' + #numbers.formatDecimal(program.prec_programa ,1, 'COMMA', 1, 'POINT') }">S/ 279</span>
                        <span th:text="${'S/ ' + #numbers.formatDecimal(program.prec_programa - descuento,1, 'COMMA', 1, 'POINT')}">S/ 237</span>
                      </p>
                    </div>
      
                    <div class="card__buttons">
                      <a class="btn btn--outline btn--outline-primary btn--rounded" th:data-idproducto="${program.id_programa}" th:data-tiposervicio="${3}" data-modal="#modal-cart">
                        <i class="fa fa-shopping-cart"></i>
                      </a>
                      <a class="btn btn--outline btn--outline-primary btn--full" th:href="@{/carrito(idProducto=${program.id_programa},tipoServicio=${3})}">
                        Comprar ahora
                      </a>
                    </div>
                  </div><!-- .card__body -->
                </article><!-- .card -->
  
                
              </div><!-- .l-grid-courses -->
            </div>
          </section>
        </section><!-- .page-section -->

        <div class="membership">
          <div class="membership__block">
            <div>
              <h2 class="membership__title">Membresía Anual</h2>
              <ul class="list-membership">
                <li class="list-membership__item">Acceso a cursos y programas</li>
                <li class="list-membership__item">Acceso a la biblioteca virtual</li>
                <li class="list-membership__item">Acceso a eventos de Zegel Ipae</li>
                <li class="list-membership__item">Certificados digitales</li>
              </ul>
            </div>
            <div class="membership__foot">
              <p>Membresía anual desde<p>
              <p class="price">
                <span>S/ 3,510</span>
                <span>S/ 2,982</span>
              </p>
              <a href="#" class="btn btn--outline btn--outline-white">conoce más</a>
            </div>
          </div>
          <div>
            <img src="https://www.zegelvirtual.com/sites/default/files/styles/imagemagick/public/productos/resumen-membresia.jpg.webp?itok=olx5beZy" alt="">
          </div>
        </div><!-- .membership -->

        <section class="page-section">
          <div class="page-section__header">
            <h2 class="page-section__title">¿Por qué elegirnos?</h2>
          </div>

          <section class="subsection">
            <div class="owl-carousel owl-theme" id="whychoseus">
              <div th:each="valor:${valores}" class="card-icon">
                
                <img th:src="${valor.foto_valor}" width="120" height="120" alt="">
                <h3 th:text="${valor.nombre_valor}">Prestigio</h3>
                <p th:text="${valor.descripcion_valor}">+ 50 años formando a los mejores profesionales y empresarios</p>
              </div>

            </div>
          </section>
        </section><!-- .page-section -->
      </div><!-- .container -->
    </div><!-- .main -->

  </main>

  <div th:replace="menu :: #footer_inicio"></div>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <!-- OWL Slider -->
  <script src="./assets/js/owl.carousel.min.js"></script>
  <!-- Scripts -->
  
  <script th:src="@{./assets/js/app.js}">
      
  </script>
</body>
</html>