<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Web</title>
  <!-- Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
  <!-- Slider -->
  <link rel="stylesheet" href="./assets/css/owl.carousel.min.css">
  <!-- Theme Slider -->
  <link rel="stylesheet" href="./assets/css/owl.theme.default.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="./assets/css/app.css">
</head>
<body>
  <!-- Modal Inicio sesion Registro-->
  <div th:replace="menu::#modal-login"></div>
  <!-- End Modal Inicio sesion Registro-->
  <div class="fixed-actions">
    <div class="container">
      <a href="#" class="btn btn--primary btn--info">
        Informes
      </a>
      <a href="#" class="btn btn--whatsapp">
        <span>Contáctanos</span>
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
  </div>

  <!-- Modal Cart-->
  <div th:replace="menu::#modal-cart"></div>
  <!-- End Modal Cart-->
  
  <!-- Header -->
  <div th:replace="menu :: #headerInicio"></div>
  <!-- End Header -->

  <main>
    <div class="container">
      <nav class="breadcrumb">
        <ul>
          <li>
            <a th:href="@{/}">
              <i class="fa fa-home"></i>
            </a>
          </li>
          <li>
            <a th:href="@{/membresias}">
              Membresía
            </a>
          </li>
        </ul>
      </nav>
      <div class="l-grid-page">
        <article class="card card--program" th:each="membresia: ${membresias}" th:with="descuento=${#numbers.formatDecimal(membresia.prec_membresia, 0,0)} * (${#numbers.formatDecimal(membresia.dscto_membresia, 0,0)} * 0.01)">
          <a class="card__img" th:href="@{/membresia(id=${membresia.id_membresia})}" ><!--th:href="@{/membership}"-->
            <img th:src="${membresia.foto_membresia}" alt="Imágen">
            <h3 class="card__img-title" th:text="${membresia.nom_membresia}">Membresía Anual</h3>
          </a><!-- .card__img -->
          <div class="card__body">
            <p class="card__text" th:text="${membresia.desc_membresia}">Con nuestra membresía anual estudia a tu ritmo con acompañamiento docente en nuestra plataforma virtual 24/7.</p>
            
            <div class="d-flex justify-content-between prices">
              <p>
                <a href="" class="card__link">ver más</a>
              </p>

              <p class="price">
                <span th:text="${'S/ ' + #numbers.formatDecimal(membresia.prec_membresia , 0,0)}">S/ 279</span>
                <span th:text="${'S/ ' + #numbers.formatDecimal(membresia.prec_membresia - descuento, 0,0)}">S/ 237</span>
              </p>
            </div>

            <div class="card__buttons">
              <a class="btn btn--outline btn--outline-primary btn--rounded" th:data-idproducto="${membresia.id_membresia}" th:data-tiposervicio="${2}" data-modal="#modal-cart">
                <i class="fa fa-shopping-cart"></i>
              </a>
              <a class="btn btn--outline btn--outline-primary btn--full" th:href="@{/carrito(idProducto=${membresia.id_membresia},tipoServicio=${2})}">
                Comprar ahora
              </a>
            </div>
          </div><!-- .card__body -->
        </article><!-- .card -->

        
      </div>
    </div><!-- .container -->
  </main>

  <div th:replace="menu :: #footer_inicio"></div>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <!-- OWL Slider -->
  <script src="./assets/js/owl.carousel.min.js"></script>
  <!-- Scripts -->
  <script src="./assets/js/app.js"></script>
</body>
</html>