<div id="menu_inicio">
    <header class="site-header">
    <div class="container">
      <button id="toggle-navbar" class="navbar__toggler" aria-expanded="false">
        <i class="fa fa-bars"></i>
      </button>

      <a class="brand" href="index.html">HOMER</a>
    
      <nav id="navbar" class="navbar">
        <header class="navbar__mobile-header navbar__link">
          <button class="navbar__mobile-close" id="navbar-close">
            <i class="fa fa-times"></i>
          </button>
        </header>
        <a class="navbar__link" href="cursos.html">Cursos</a>
        <a class="navbar__link" href="programas.html">Programas</a>
        <a class="navbar__link" href="membresias.html">Membresía</a>
      </nav><!-- .navbar -->

      <div class="site-header__actions">
        <a class="shopping-cart" href="carrito.html">
          <span class="shopping-cart__badge">
            2
          </span>
          <i class="fa fa-shopping-cart"></i>
        </a>
        <a class="login-icon" href="#"  data-modal="#modal"><!-- data-modal es cualquier selector para el modal -->
          <i class="far fa-user"></i>
        </a>
        <a href="#" class="btn btn--outline btn--outline-white" data-modal="#modal">Ingresar</a>
        <a href="#hero-formulario" class="btn btn--white">Informes</a>
      </div>
    </div><!-- .container -->
  </header><!-- .site-header -->  
</div>

<div id="footer_inicio">
    <footer class="site-footer" style="position: relative; z-index: 100000">
    <div class="container">
      <div class="site-footer__top">
        <div class="partof">
          <p>Somos parte de</p>
          <img src="https://www.zegelvirtual.com/sites/default/files/libro-reclamaciones.png" alt="">
        </div>

        <a class="img-b" href="#algo">
          <img src="https://www.zegelvirtual.com/sites/default/files/libro-reclamaciones.png" alt="">
        </a>
      </div>
      <div class="site-footer__bottom">
        <nav class="site-footer__nav">
          <a href="cursos.html">Cursos</a>
          <a href="programas.html">Programas</a>
          <a href="membresias.html">Membresía</a>
          <a href="termns.html">Términos y Condiciones</a>
          <a href="termns.html">Políticas de Privacidad</a>
        </nav>

        <div class="follow">
          <p>Síguenos en</p>
          <a href="https://www.facebook.com" target="_blank">
            <i class="fab fa-facebook"></i>
          </a>
        </div>
      </div>
    </div>
  </footer> 
</div>