<div id="menu_inicio">
    <header class="site-header">
    <div class="container">
      <button id="toggle-navbar" class="navbar__toggler" aria-expanded="false">
        <i class="fa fa-bars"></i>
      </button>

      <a class="brand" href="index.html">HOMER</a>
    
      <nav id="navbar" class="navbar">
        <header class="navbar__mobile-header navbar__link">
          <button class="navbar__mobile-close" id="navbar-close">
            <i class="fa fa-times"></i>
          </button>
        </header>
        <a class="navbar__link" href="cursos.html">Cursos</a>
        <a class="navbar__link" href="programas.html">Programas</a>
        <a class="navbar__link" href="membresias.html">Membresía</a>
      </nav><!-- .navbar -->

      <div class="site-header__actions">
        <a class="shopping-cart" href="carrito.html">
          <span class="shopping-cart__badge">
            2
          </span>
          <i class="fa fa-shopping-cart"></i>
        </a>
        <a class="login-icon" href="#"  data-modal="#modal-login"><!-- data-modal es cualquier selector para el modal -->
          <i class="far fa-user"></i>
        </a>
        <a href="#" class="btn btn--outline btn--outline-white" data-modal="#modal-login">Ingresar</a>
        <a href="#hero-formulario" class="btn btn--white">Informes</a>
      </div>
    </div><!-- .container -->
  </header><!-- .site-header -->  
</div>

<footer id="footer_inicio" class="site-footer" style="position: relative; z-index: 100000">
  <div class="container">
    <div class="site-footer__top">
      <div class="partof">
        <p>Somos parte de</p>
        <img src="https://www.zegelvirtual.com/sites/default/files/libro-reclamaciones.png" alt="">
      </div>

      <a class="img-b" href="#algo">
        <img src="https://www.zegelvirtual.com/sites/default/files/libro-reclamaciones.png" alt="">
      </a>
    </div>
    <div class="site-footer__bottom">
      <nav class="site-footer__nav">
        <a href="cursos.html">Cursos</a>
        <a href="programas.html">Programas</a>
        <a href="membresias.html">Membresía</a>
        <a href="termns.html">Términos y Condiciones</a>
        <a href="termns.html">Políticas de Privacidad</a>
      </nav>

      <div class="follow">
        <p>Síguenos en</p>
        <a href="https://www.facebook.com" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
      </div>
    </div>
  </div>
</footer> 

<header id="headerInicio" class="site-header">
  <div class="container">
    <button id="toggle-navbar" class="navbar__toggler" aria-expanded="false">
      <i class="fa fa-bars"></i>
    </button>

    <a class="brand" th:href="@{/}">HOME</a>
  
    <nav id="navbar" class="navbar">
      <header class="navbar__mobile-header navbar__link">
        <button class="navbar__mobile-close" id="navbar-close">
          <i class="fa fa-times"></i>
        </button>
      </header>
      <a class="navbar__link" th:href="@{/cursos}">Cursos</a>
      <a class="navbar__link" th:href="@{/programas}">Programas</a>
      <a class="navbar__link" th:href="@{/membresias}">Membresía</a>
    </nav><!-- .navbar -->

    <div class="site-header__actions">
      <a class="shopping-cart" th:href="@{/carrito}">
        <span class="shopping-cart__badge">
          2
        </span>
        <i class="fa fa-shopping-cart"></i>
      </a>
      <a class="login-icon" href="#"  data-modal="#modal-login"><!-- data-modal es cualquier selector para el modal -->
        <i class="far fa-user"></i>
      </a>
      <a href="#" class="btn btn--outline btn--outline-white" data-modal="#modal-login">Ingresar</a>
      <a href="#hero-formulario" class="btn btn--white">Informes</a>
    </div>
  </div><!-- .container -->
</header><!-- .site-header -->


<!-- Modal Inicio sesion Registro -->
<div class="modal" id="modal-login">
  <div class="modal-content">
    <button class="modal-button-close">&times;</button>
    <div class="card card__body">
      <!-- Tabs -->
      <div class="center tabs--forms" style="padding: 1rem;">
        <nav class="navbar-tabs" data-tabs="auth-tabs">
          <a href="#login" class="nav-link active">Iniciar Sesión</a>
          <a href="#register" class="nav-link">Registro</a>
        </nav>
        <div class="tabs" id="auth-tabs">
          <div class="tabs-content">
            <section id="login" class="tab-active"><!-- Importante esta clse tab active -->
              <form action="">
                <div class="material-input material-input--primary">
                  <input type="email" id="email" autocomplete="off">
                  <label for="email">Correo electrónico</label>
                </div>

                <div class="material-input material-input--primary">
                  <input type="password" id="pass" autocomplete="off">
                  <label for="pass">Contraseña</label>
                </div>

                <p>
                  <a href="reset-password.html">He olvidado mi contraseña</a>
                </p>

                <p class="t-center">
                  <input type="submit" value="Ingresar" class="btn btn--primary">
                </p>
              </form>
            </section>
            <section id="register">
                <form action="registrar" method="POST" class="l-form-modal">
                <h3 class="l-form-modal__full">Crea tu cuenta</h3>

                <div class="material-input material-input--primary">
                  <input type="email" id="email" autocomplete="off" required="required">
                  <label for="email">Correo electrónico</label>
                </div>

                <div class="material-input material-input--primary" required="required">
                  <input type="password" id="pass" autocomplete="off">
                  <label for="pass">Contraseña</label>
                </div>

                <h3 class="l-form-modal__full">Llena tus datos</h3>

                <div class="material-input material-input--primary" required="required">
                    <input type="text" id="nom_persona" autocomplete="off">
                  <label for="text">Nombre</label>
                </div>

                <div class="material-input material-input--primary">
                  <input type="text" id="ape_persona" autocomplete="off" required="required">
                  <label for="text">Apellidos</label>
                </div>

                <div class="material-input material-input--primary">
                    <input type="text" id="dni_persona" autocomplete="off">
                  <label for="text">Documento de identidad</label>
                </div>

                <div class="material-input material-input--primary">
                    <input type="text" id="direccion" autocomplete="off">
                  <label for="text">Direcci&oacute;n</label>
                </div>

                <div class="material-input material-input--primary">
                  <input type="date" id="fechanacimiento" autocomplete="off" required="required">
                  
                </div>

                <div class="material-input material-input--primary">
                    <input type="number" id="telefono" autocomplete="off">
                  <label for="number">Tel&eacute;fono</label>
                </div>

                <h3 class="l-form-modal__full">¿Factura?</h3>

                <div class="l-form-modal__full">
                  <label class="d-iflex aic" style="margin-right: 10px;">
                        <input type="radio" name="factura" style="margin-right: 5px;">
                    Si
                  </label>
                  <label class="d-iflex aic">
                    <input type="radio" name="factura" style="margin-right: 5px;">
                    No
                  </label>
                </div>

                <div class="material-input material-input--primary">
                  <input type="text" id="nombre" autocomplete="off">
                  <label for="text">Nombre</label>
                </div>

                <div class="material-input material-input--primary">
                    <input type="text" id="ruc" autocomplete="off">
                  <label for="text">RUC</label>
                </div>

                <div class="material-input material-input--primary">
                  <input type="password" id="pass" autocomplete="off">
                  <label for="pass">Contraseña</label>
                </div>

                <p class="l-form-modal__full">
                  Tus datos personales se utilizarán para procesar tu pedido, mejorar tu experiencia en esta web, gestionar el acceso a tu cuenta y otros propósitos, conoce nuestros <a href="">términos y condiciones</a>
                </p>

                <p class="l-form-modal__full t-center">
                  <input type="submit" value="Crear Cuenta" class="btn btn--primary">
                </p>
              </form>
            </section>
          </div>
        </div>
      </div>
      <!-- End Tabs -->
    </div>
  </div>
</div>
<!-- End Modal Inicio sesion Registro-->


<!--Modal Cart-->
<div class="modal modal--cart" id="modal-cart">
  <div class="modal-content">
    <button class="modal-button-close" id="close-cart-modal">&times;</button>
    <div class="card card__body l-cart-modal">
      <!-- Contanido modal -->
      <div>
        <h2>Tu carrito de compras</h2>
        <p style="font-size: 16px !important; margin: .2rem 0 1.1rem 0;">Tienes 4 items en tu carrito</p>
        <div class="l-cart-modal__main">
          <div>
            <article th:each="servicio:${servicios}" class="cart-item">
              <img style="width:92px;height:66px;" th:src="${servicio.fotoServicio}"  alt="" class="cart-item__img">
              <div class="cart-item__body">
                <h3 th:text="${servicio.nombreServicio}">Excel Básico</h3>
                <div class="price" th:text="'S/. '+${#numbers.formatDecimal(servicio.precioServicio, 0,0)}">S/. 279.00</div>
                <a href="" class="cart-item__delete">
                  <i class="fa fa-trash-alt"></i>
                </a>
              </div>
            </article>

            
          </div>
          <div>
            <div class="l-cart-modal__prices">
              <p>
                <span>Subtotal</span>
                <span>S/ 1674.00</span>
              </p>
              <p>
                <span>Total</span>
                <span>S/ 1380.00</span>
              </p>
            </div>
            <a href="detalle-pago.html" class="cart-btn cart-btn--block">Comprar</a>
            <a href="#" class="link" onclick="document.getElementById('close-cart-modal').click(); return false;">
              Seguir comprando
              <i class="fa fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- Contanido modal -->
    </div>
  </div>
</div>
<!--End Modla Cart-->
