<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Web</title>
  <!-- Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
  <!-- Slider -->
  <link rel="stylesheet" href="./assets/css/owl.carousel.min.css">
  <!-- Theme Slider -->
  <link rel="stylesheet" href="./assets/css/owl.theme.default.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="./assets/css/app.css">
</head>
<body>
  <!-- Modal Inicio sesion Registro-->
  <div th:insert="menu::#modal-login"></div>
  <!-- End Modal Inicio sesion Registro-->
  <div class="fixed-actions">
    <div class="container">
      <a href="#" class="btn btn--primary btn--info">
        Informes
      </a>
      <a href="#" class="btn btn--whatsapp">
        <span>Contáctanos</span>
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
  </div>
  
  <!-- Header -->
  <div th:insert="menu :: #headerInicio"></div>
  <!-- End Header -->

  <main>
    <div class="container">
      <nav class="breadcrumb">
        <ul>
          <li>
            <a th:href="@{/}">
              <i class="fa fa-home"></i>
            </a>
          </li>
          <li>
            <a href="termns.html">
              Términos y Condiciones
            </a>
          </li>
        </ul>
      </nav>
      <div class="termns">
        <h2>Condiciones de uso</h2>

        <p>Los términos y condiciones describen todas las reglas y cualidades de carácter general del uso de nuestra plataforma de aprendizaje Zegel Virtual, aquella disponible bajo el dominio zegelvirtual.com.</p>

        <p>Al momento de registrarte en nuestra plataforma y/o matricularte en un curso, reconoces haber leído el presente documento y aceptar las condiciones que a continuación presentamos.</p>

        <h2>Acerca de Zegel Virtual_</h2>

        <p>Zegel Virtual es una plataforma en línea que presta servicios educativos a través de programas virtuales.</p>

        <p>El objetivo de Zegel Virtual es contribuir en el desarrollo de competencias profesionales a través de diferentes cursos de clase mundial.</p>

        <ul>
          <li>Responder dudas y consultas relacionadas a los contenidos del curso</li>
          <li>Corregir los trabajos finales de cada unidad y el proyecto final</li>
          <li>Brindar al participante información sobre otros cursos que puedan ser de su interés</li>
        </ul>

        <h2>Condiciones de uso</h2>

        <p>Los términos y condiciones describen todas las reglas y cualidades de carácter general del uso de nuestra plataforma de aprendizaje Zegel Virtual, aquella disponible bajo el dominio zegelvirtual.com.</p>

        <p>Al momento de registrarte en nuestra plataforma y/o matricularte en un curso, reconoces haber leído el presente documento y aceptar las condiciones que a continuación presentamos.</p>

        <h2>Acerca de Zegel Virtual_</h2>

        <p>Zegel Virtual es una plataforma en línea que presta servicios educativos a través de programas virtuales.</p>

        <p>El objetivo de Zegel Virtual es contribuir en el desarrollo de competencias profesionales a través de diferentes cursos de clase mundial.</p>

        <ul>
          <li>Responder dudas y consultas relacionadas a los contenidos del curso</li>
          <li>Corregir los trabajos finales de cada unidad y el proyecto final</li>
          <li>Brindar al participante información sobre otros cursos que puedan ser de su interés</li>
        </ul>

        <h2>Condiciones de uso</h2>

        <p>Los términos y condiciones describen todas las reglas y cualidades de carácter general del uso de nuestra plataforma de <a href="#">aprendizaje Zegel</a> Virtual, aquella disponible bajo el dominio zegelvirtual.com.</p>

        <p>Al momento de registrarte en nuestra plataforma y/o matricularte en un curso, reconoces haber leído el presente documento y aceptar las condiciones que a continuación presentamos.</p>

        <h2>Acerca de Zegel Virtual_</h2>

        <p>Zegel Virtual es una plataforma en línea que presta servicios educativos a través de programas virtuales.</p>

        <p>El objetivo de Zegel Virtual es contribuir en el desarrollo de competencias profesionales a través de diferentes cursos de clase mundial.</p>

        <ul>
          <li>Responder dudas y consultas relacionadas a los contenidos del curso</li>
          <li>Corregir los trabajos finales de cada unidad y el proyecto final</li>
          <li>Brindar al participante información sobre otros cursos que puedan ser de su interés</li>
        </ul>
      </div>
    </div><!-- .container -->
  </main>

  <div th:insert="menu :: #footer_inicio"></div>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <!-- OWL Slider -->
  <script src="./assets/js/owl.carousel.min.js"></script>
  <!-- Scripts -->
  <script src="./assets/js/app.js"></script>
</body>
</html>